body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;

}
.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 4;
    flex-wrap: wrap;
}

.nav>li {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}

.nav>li>a {
    text-decoration: none;
    color: #333333;
}



.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 12px 0;

}

.header__logo {
    color:#66C05D;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.header__logo_image{
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}

.header__info span{
    font-size: 16px;
}

.header__info button{
    font-size: 14px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #66C05D;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

.header__info button:hover {
    background-color: #66C05D;
    color: #fff;

}

.header__bottom{
    padding: 20px 0 17px 0;
}

.header__bottom .nav{
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

.banner{
    background-image: url(../img//bg.png);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 204px;
    color: #fff;
    }

.banner__title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 39px;
}

.catalog__grid-title_h2{
    font-size: 24px;
    font-weight: 700;
}


.banner p{
    margin-bottom: 57px;
    max-width: 315px;
    line-height: 1.5;
}

.btn{
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 9px 47px;
    transition: 0.2s ease;
    }

.btn:hover {
    background-color: #fff;
    color: #333333;
}

.white{
    background-color: #fff;
}

.bg-green{
    background-color: #66C05D;
    color: #fff;
    padding: 34px 41px;
    display: flex;
    justify-content: space-between;
}

.catalog__grid-bottom-item{
    flex: 0 0 55%;
}

.catalog__grid-bottom-item-img{
    flex: 0 0 31%;
    text-align: center;
}

.bg-green h3{
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.bg-green p{
    line-height: 1.5;
    margin-bottom: 24px;
}

.bg-green input{
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 9px 15px;
    width: 100%;
    box-sizing: border-box;
    max-width: 225px;
}

.bg-green .btn{
    display: block;
    text-align: center;
    max-width: 166px;
    padding: 8px 0;
}

.catalog{
padding-top: 60px;
padding-bottom: 133px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 19px 30px;
}

.catalog__grid-title{
    grid-column: 1/4;
    grid-row: 1/2;
}

.catalog__grid-img{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.catalog__grid-bottom-left{
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 80px;
}

.catalog__grid-bottom-right{
    grid-column: 3/5;
    grid-row: 3/4;
    margin-top: 80px;

}

.catalog__grid-item{
    text-align: center;
}

.catalog__grid-item .white{
    padding: 23px 30px 34px 30px;
}

.catalog__grid-item_img{
    margin-bottom: 14px;
}

.catalog__grid-item-title{
    line-height: 1.5;
    margin-bottom: 0;
}

.catalog__grid-item-price{
    font-size: 21px;
    font-weight: 500;
    margin-top: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.catalog__grid-item-btn{
    border-radius: 30px;
    background-color: #66C05D;
    border: 2px solid #66C05D;
    color: #fff;
    padding: 6px 41px;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;    
}


@media(max-width: 1170px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog__grid-title {
        grid-column: 1 / 3;
    }
    .catalog__grid-img {
        display: none;
    }
    .catalog__grid-bottom-left {
        grid-column: 1 / 3;
        grid-row: 4/ 5;
        margin-top: 50px;
    }

    .catalog__grid-bottom-item-img{
        flex: 0 0 15%;
        text-align: center;
    }

    .catalog{
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .catalog__grid-bottom-right {
        display: none;
    }
}

@media(max-width: 1000px) {
    .catalog__grid-bottom-item {
        flex: 0 0 100%;
    }
    .catalog__grid-bottom-item-img {
        display: none;
    }
}

@media(max-width: 800px) {
    .header__logo {
        font-size: 22px;
    }
    .header__logo_image {
        width: 50px;
        height: 50px;
        background-size: cover;
        margin-right: 12px;
    }
    .banner {
        background-image: none;
        background-color: #66c05d;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .banner p {
        margin: 0 auto 57px;
    }
    .catalog__grid-bottom-left {
        grid-column: 1 / 3;
    }
}

@media(max-width: 600px) {
    .header__top {
        flex-direction: column;
    }
    .header__logo {
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .catalog__grid-title, .catalog__grid-bottom-left {
        grid-column: 1 / 2;
    }
    .catalog__grid-bottom-left {
        grid-row: inherit;
        text-align: center;
    }
}
@media(max-width: 430px) {
    .header__info span, .header__info button {
        font-size: 12px;
    }
    .header__info button {
        margin-left: 15px;
    }
    .header__bottom .nav {
        font-size: 14px;
    }
    .nav > li, .header__bottom .nav > li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner__title {
        font-size: 30px;
    }
}